@media (max-width: 1024px) {

  .selection__list {
    padding-right: 30px;
  }

  .selection__theme {
    font-size: 20px;
  }

}

@media (max-width: 768px) {

  .header__container {
    padding: 0 20px;
  }

  .main {
    padding: 40px 20px;
  }

  .main__title {
    font-size: 34px;
  }
  
  .main__box {
    padding: 40px;
  }

  .selection__list {
    padding-right: 15px;
  }

  .selection__theme {
    font-size: 18px;
    padding: 10px 15px;
  }

  .selection__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .selection__result {
    display: flex;
    align-items: center;
  }

  .selection__result-text {
    display: none;
  }

  .selection__theme:not(:last-child) {
    margin-right: 15px;
  }

}

@media (max-width: 560px) {

  .main__btn:not(.result__return) {
    margin-left: 0;
    min-width: 100%;
  }

  .main__form-question::after {
    bottom: -35px;
  }

  .main__subtitle {
    font-size: 20px;
  }
  
  .main {
    padding: 30px 10px;
  }

  .main__box {
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .selection__result-ratio {
    font-size: 18px;
  }

}